In [3]:
numbers: list = [print(n % 2 != 0) for n in range(0,6)]

False
True
False
True
False
True

In [2]:
print(numbers)

[None, None, None, None, None]

In [15]:
# odd_n = []

In [14]:
# for n in range(1, 6):
#   if n % 2 != 0:
#     odd_n.append(n)
#   else:
#     even_numbers = [n]

# print(odd_n)
# print(even_numbers)

In [18]:
odd_n: list = []

for n in range(1, 6):
  if n % 2 != 0: odd_n.append(n)

print(odd_n)

[1, 3, 5]

In [19]:
for n in range(0 , 1):
  if n % 2 == 0:
    print('Is Even')
  else: print('Is odd')

Is Even

In [21]:
def check_even_odd() -> int:
  for n in range(0, 1):
    'Is Even' if n % 2 ==0 else 'Is Odd'

In [23]:
def check_even_odd(x: int , y: int) -> str:
  return 'Is Even' if (x & y % 2 == 0) else 'Is Odd'

In [29]:
print(check_even_odd(12 , 2))
print(check_even_odd(34 , 21))
print(check_even_odd(21 , 45))

Is Even
Is Even
Is Odd

In [33]:
def check_even_n(start: int , end: int) -> None:
  for num in range(start , end + 1):
    if num % 2 == 0:
      print(f' Is Even: {num}')
    else: print(f'Is odd: {num}')

print(check_even_n(3 , 21))

Is odd: 3
 Is Even: 4
Is odd: 5
 Is Even: 6
Is odd: 7
 Is Even: 8
Is odd: 9
 Is Even: 10
Is odd: 11
 Is Even: 12
Is odd: 13
 Is Even: 14
Is odd: 15
 Is Even: 16
Is odd: 17
 Is Even: 18
Is odd: 19
 Is Even: 20
Is odd: 21
None

In [40]:
def check_even_n(start: int , end: int) -> None:
  return [f'is Even {num}' if num % 2 == 0 else f'Is Odd: {num}' for num in range(start , end + 1)]

print(check_even_n(1 , 21))

['Is Odd: 1', 'is Even 2', 'Is Odd: 3', 'is Even 4', 'Is Odd: 5', 'is Even 6', 'Is Odd: 7', 'is Even 8', 'Is Odd: 9', 'is Even 10', 'Is Odd: 11', 'is Even 12', 'Is Odd: 13', 'is Even 14', 'Is Odd: 15', 'is Even 16', 'Is Odd: 17', 'is Even 18', 'Is Odd: 19', 'is Even 20', 'Is Odd: 21']

In [42]:
result = check_even_n(3, 17)

for i in result:
  print(i)

Is Odd: 3
is Even 4
Is Odd: 5
is Even 6
Is Odd: 7
is Even 8
Is Odd: 9
is Even 10
Is Odd: 11
is Even 12
Is Odd: 13
is Even 14
Is Odd: 15
is Even 16
Is Odd: 17

In [2]:
repeating_list: list = []

def repeat_n(numbers: list) -> None:
  for n in numbers:
    if (n == n+1):
      repeating_list.append(n)
    else: print('no repeatation')

repeat_n([1, 2 , 3 ,4 ,5 , 4 ,2])

no repeatation
no repeatation
no repeatation
no repeatation
no repeatation
no repeatation
no repeatation

In [14]:
rep_list: list = []

def fn_list(numbers: list):
  for n in numbers:
    if (n + 1 == n) & (n == n+1):
      rep_list.append(n)
      print('repeating!')
    else: print('No repeating')


print(rep_list)

fn_list([1 , 2 , 3 , 4 , 5 , 2 ,3])
fn_list([6 , 7 , 1 , 4 , 7])

[]
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating
No repeating

In [15]:
def find_first_repeat(numbers: list):
  seen_ = set()
  for n in numbers:
    if (n in seen_):
      return n
    seen_.add(n)
  return 'No repeating'

In [16]:
print(find_first_repeat([1, 2, 3, 4, 5, 2, 3]))

2

In [17]:
def find_first_repeat(numbers: list) -> None:
  try:
    seen = set()

    for n in numbers:
      if n in seen:
        return n
      seen.append(n)
    return 'No repeat!'

  except TypeError:
    return 'Invalid input: Please pass a list of numbers'

In [18]:
def most_frequent(numbers: list) -> int:
  dic_count: dict = {}
  for n in numbers:
    if n in dic_count:
      dic_count[n] += 1
    else:
      dic_count[n] = 1

  most_frequent()